[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "docuSignr"]
	path = docuSignr
	url = https://github.com/carlganz/docusignr
[submodule "rintrojs"]
	path = rintrojs
	url = https://github.com/carlganz/rintrojs
